.params__container {
  display: flex;
  margin-bottom: 30px;
}

#params__list {
  display: flex;
  margin-left: 15px;
}

#params__list > div {
  background-color: #eee;
  color: #333;
  padding: 5px;
  margin-left: 5px;
}

#output > .row {
  display: flex;
  justify-content: center;
}

#output > .row > div {
  margin: 0 10px;
}
